<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yzjk.system.sys.mapper.ResourceMapper">

	<resultMap id="resourceMap" type="com.yzjk.system.sys.entity.Resource">
        <id property="id" column="id"/>
	    <result property="name" column="name"/>
        <result property="remark" column="remark"/>
        <result property="seq" column="seq"/>
        <result property="url" column="url"/>
        <result property="method" column="method"/>
        <result property="pid" column="pid"/>
        <result property="type" column="type"/>
    </resultMap>

	<sql id="Base_Column_List">
		id,name,remark,seq,url,method,pid,type	</sql>

</mapper>
